@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    color: white;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

.logo h1 {
    margin: 0;
    color: violet;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.bienvenida {
    width: 95%;
    border-radius: 15px;
    text-align: center;
    padding: 50px 20px;
    margin: auto;
    margin-top: 10px;
    background-color: #212121;
}
.bienvenida h2 {
    color: violet;
}
.bienvenida p {
    font-size: 1.2em;
    color: #fff;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: violet;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.destacado {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 20px;
}
.destacado figure {
    background: #212121;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
}
.destacado img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.contenido {
    margin-top: 50px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}
.contenido h2 {
    color: violet;
}

.sidebar {
    width: 25%;
    margin: 0 70px
}
.sidebar h3 {
    color: violet;
}
.sidebar p{
    color: #000;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin: 10px 0;
}
.sidebar ul li a {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer ul li a {
    color: violet;
    text-decoration: none;
}
