/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: violet;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: violet;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notification {
  color:rgb(0, 0, 0);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.img{
  position:center;
  padding: 10px 20px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: #fff;
}

header h1 {
    font-weight: 600;
    color: violet; /* Color destacado */
}

header a {
    text-decoration: none;
    color: #ff007f; /* Color de enlaces */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* List Styles */
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
/* Footer */
footer {
    padding: 30px 0;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color:violet;
    text-decoration: none;
}